$primary-color: #003e6c;
$primary-color-light: #2f3568;
$secondary-color: #ee272e;
$secondary-color-light: #f2565c;
$secondary-color-dark: #b20e14;
$tertiary-color: #ff5a19;
$light-grey: #f5f5f5;
$medium-grey-2: #9b9b9b;
$medium-grey: #9c9c9c;
$dark-grey: #1b1b1b;
$font: #434343;
$white: #fff;
$black: #000;
$gold: #d6b268;
